/**
 * @author Sandip Nirmal
 * 26 Mar 2019
 */
.card {
  background-color: rgba(0, 0, 0, 0.54);
  padding: 10px;
  margin: 10px 8px;
}

.card .title {
  padding: 4px 0 2px 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 0.9em;
}

img.cond-code {
  width: 80px;
}

/**
 * Loading
 */
 @keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #ffffff;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/* 
.slider {
  width: 100vw;
  max-width: 960px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.slider > div {
  width: 100%;
  margin: 0 8px;
  flex-shrink: 0;
  height: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  scroll-snap-align: start;
} */

/**
 *
 */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-city {
  padding-right: 8px;
}

/**
  * Utility classes
  */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

/** Forecast Item **/
.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-item-day {
  flex: 1;
}

.forecast-item-cond {
  flex: 3;
  justify-content: space-between;
  align-items: center;
}

.forecast-cond-code {
  width: 40px;
}

/** Weather details */
.details {
  display: flex;
  flex-direction: column;
}

.wind,
.astrology,
.atmosphere {
  flex: 1;
}

.astrology-detail {
  justify-content: space-between;
  align-items: center;
}

/** Media Queries */
@media (min-width: 480px) {
  .forecasts {
    display: flex;
    padding-bottom: 16px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	  -webkit-overflow-scrolling:touch;
  }

  .card {
    margin: 10px auto;
  }

  .forecast-item {
    flex: 1;
    min-width: 110px;
  }

  .forecast-item,
  .forecast-item-cond,
  .forecast-item-cond :first-child {
    flex-direction: column;
  }

  .details {
    flex-direction: row;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	  -webkit-overflow-scrolling:touch;
  }

  .details div {
    margin: 0 4px;
  }

  .details :first-child {
    margin-left: 0;
  }

  .details :last-child {
    margin-right: 0;
  }
}
